
<!-- ----- début fragmentCovidMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router.php?action=CovidAccueil">Louis ALLIOT & Noémie HAMMANN</a>
    </div>
    <ul class="nav navbar-nav">
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
            <ul class="dropdown-menu">            
                <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
                <li><a href="router.php?action=vaccinCreate">Ajout d'un vaccin</a></li>
                <li><a href="router.php?action=vaccinChangeId">Mise à jour d'un vaccin</a></li>
            </ul>
        </li>   
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des centres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="router.php?action=centreReadAll">Liste des centres</a></li>
            <li><a href="router.php?action=centreCreate">Insertion d'un centre</a></li>                      
          </ul>
        </li>   
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des patients <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="router.php?action=patientReadAll">Liste des patients</a></li>
            <li><a href="router.php?action=patientCreate">Insertion d'un patient</a></li>                      
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des stocks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="router.php?action=stockReadAlldetailed">Liste des centres avec le nombre de doses de chaque vaccins</a></li>
            <li><a href="router.php?action=stockReadAll">Nombre global de doses des centres</a></li>  
            <li><a href="router.php?action=stockCreate">Attribution de vaccins pour un centre</a></li>  
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="router.php?action=rdvReadId">Dossier de vaccination d'un patient</a></li>
          </ul>
        </li> 
       
       
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">DOCUMENTATION <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=mesPropositions
            ">Proposition d'améliorations</a></li>
        </ul>
      </li>      
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentCovidMenu -->

